<div id="wrap" class="clearfix">
	{{#outcome}}
	<h1>Your account is now confirmed</h1>
	{{/outcome}}
	{{^outcome}}
	<h1>Whoops</h1>
	<div>Sorry, but your account has not yet been confirmed. Please follow the
		instructions we sent to your email on how to confirm your registration.
		<a href="user/resend_confirmation">Resend Confirmation</a>.
	</div>
	{{/outcome}}
</div>