<div id="content">
	<div class="module">
		<h2>Sign in to manage your account</h2>
		{{>errors}}
		{{#form}}
		<form action="user/login" method="post" class="tabular">
			{{#return_to}}<input type="hidden" name="return_to" value="{{return_to}}" />{{/return_to}}
			<div class="form-row">
				<label for="email">Email</label>
				<input type="text" name="email" id="email" value="{{email}}" />
			</div>
			<div class="form-row">
				<label for="password">Password</label>
				<input type="password" name="password" id="password" />
			</div>
			<div class="form-row">
				<label for="remember">Remember Me</label>
				<input type="checkbox" name="remember" id="remember" value="1" checked="1" />
				<span class="suggestion">valid for 2 weeks</span>
			</div>
			<div class="form-row center">
				<input type="submit" value="Sign in" />
				or <a href="user/register">Sign up</a>
			</div>
		</form>
		{{/form}}
	</div>
</div>
<div id="sidebar">
	<div class="how-to module">
		<h4>Did you know?</h4>
		<p>{{random_tip}}</p>
	</div>
</div>