<div id="wrap" class="clearfix">
	<div id="content">
		<h4>Upcoming Reservations</h4>
		{{>calendar_reservations}}
		<a class="more" href="reservation/list">View All</a>
	</div>
	<div id="sidebar">
		<div class="module">
			{{#user}}
			<h4>{{full_name}}</h4>
			<ul class="strip">
				<li>Member since: {{registration_date}}</li>
				<li>Total reservations: {{total_reservations}}</li>
			</ul>
			{{/user}}
			<hr />
			<dl>
				<dt>Reservations</dt>
				<dd><a href="reservation/list">List all reservations</a></dd>
				<dd><a href="reservation/create">Create a new reservation</a></dd>
				<dt>Vehicles</dt>
				<dd><a href="vehicle/list">List all vehicles</a></dd>
				<dd><a href="vehicle/add">Add a new vehicle</a></dd>
			</dl>
		</div>
	</div>
</div>
