<div id="wrap" class="clearfix">
	<div id="content">
		<h4>Reservations</h4>
		{{>reservations}}
	</div>
	<div id="sidebar">
		<div class="module">
			{{#user}}
			<h4>{{full_name}}</h4>
			<p>Member Since: {{registration_date}}</p>
			{{/user}}
		</div>
	</div>
</div>