<div id="wrap" class="clearfix">
	<h4>Your account has not yet been confirmed</h4>
	<div>In order to fully use all that Park a Lot has to offer, you must first
		confirm your account. Instructions were sent to your email when you first
		registered on how to confirm your account. Be sure to check your junk folder.
		We'll <a href="user/resend_confirmation">resend the instructions</a> if
		you can't find them.
	</div>
</div>