<div id="content">
	<div class="module">
		<h1>Content</h1>
	</div>
</div>
<div id="sidebar">
	<div class="module">
		<h4 class="header">Sign in</h4>
		<form action="user/login" method="post" class="tabular">
			<div class="form-row">
				<label for="email">Email</label>
				<input type="text" name="email" id="email" />
			</div>
			<div class="form-row">
				<label for="password">Password</label>
				<input type="password" name="password" id="password" />
			</div>
			<div class="form-row center">
				<input type="submit" value="Sign in" />
			</div>
		</form>
	</div>
</div>