<div id="content">
	<div class="module">
		<h4>Register a new vehicle</h4>
		{{>errors}}
		{{#form}}
		<form action="vehicle/add" method="post" class="tabular">
			<div class="form-row">
				<label for="license_plate">Plate Number</label>
				<input type="text" name="license_plate" id="license_plate" value="{{license_plate}}" />
				<span class="suggestion">please double check this</span>
			</div>
			<div class="form-row">
				<label for="state">State</label>
				<select name="state">
					{{#states}}
					<option value="{{value}}" {{#selected}}selected="1"{{/selected}}>{{name}}</option>
					{{/states}}
				</select>
			</div>
			<div class="form-row center">
				<input type="submit" value="Save Vehicle" />
			</div>
		</form>
		{{/form}}
	</div>
</div>
<div id="sidebar">
	<div class="how-to module">
		<h4>Why is this necessary?</h4>
		<p>Registering a vehicle helps us recongnize you when you arrive at one
			of our parking lots. It allows us to streamline the parking process
			for you.</p>
	</div>
</div>