<div id="content">
	{{#form}}
	<form action="" method="post" class="tabular">
		<fieldset>
			<legend>Create a new price plan</legend>
			{{>errors}}
			<div class="form-row">
				<label for="member_price">Member Price</label>
				<input type="text" name="member_price" id="member_price" maxlength="5" value="{{member_price}}" />
			</div>
			<div class="form-row">
				<label for="guest_price">Guest Price</label>
				<input type="text" name="guest_price" id="guest_price" maxlength="5" value="{{guest_price}}" />
			</div>
			<div class="form-row">
				<label for="discount_rate">Discount Rate</label>
				<input type="text" name="discount_rate" id="discount_rate" maxlength="4" value="{{discount_rate}}" />
				<span class="suggestion">optional</span>
			</div>
			<div class="form-row">
				<label for="min_price">Minimum Price</label>
				<input type="text" name="min_price" id="min_price" maxlength="5" value="{{min_price}}" />
				<span class="suggestion">optional</span>
			</div>
			<div class="form-row center">
				<input type="submit" name="set_price_plan" value="Save Price Plan" />
			</div>
		</fieldset>
	</form>
	{{/form}}
	{{#price_plans_exist}}
	<form action="" method="post" class="tabular">
		<fieldset>
			<legend>Activate a previous price plan</legend>
			<div class="form-row">
				<label for="price_plan">Price Plan</label>
				<select name="price_plan">
					{{#price_plans}}
					<option value="{{value}}">
						MP: {{member_price}}
						|
						GP: {{guest_price}}
						|
						DR: {{discount_rate}}
						|
						MinP: {{min_price}}
					</option>
					{{/price_plans}}
				</select>
			</div>
			<div class="form-row center">
				<input type="submit" name="existing_price_plan" value="Activate Price Plan" />
			</div>
		</fieldset>
	</form>
	{{/price_plans_exist}}
</div>
<div id="sidebar">
	<div class="how-to module">
		<h4>What do I do?</h4>
		<p>It's easy, just set prices your customers pay for parking. Each price
			is charged on an hourly basis for time spent parking.</p>
		<ol>
			<li>Set the hourly rate for a reservation.</li>
			<li>Set the hourly rate for a walk-in.</li>
			<li>Set the discount rate, the rate in which registered members gain
				discounts.</li>
			<li>As a safety measure, set the minumum allowable price to charge.</li>
		</ol>
	</div>
</div>