{{%DOT-NOTATION}}
<h4>Welcome {{user.first_name}} {{user.last_name}}</h4>
<p>Thanks for registering with us, please confirm your registration by clicking
	the link below.</p>
<a href="{{confirmation_url}}">{{confirmation_url}}</a>