<div id="wrap">
	<div class="module">
		<h4>Reservations {{#day}}for {{day}}{{/day}}</h4>
		<div class="color-guide">
			<span class="past">past</span>
			<span class="current">current</span>
			<span class="future">future</span>
		</div>
		<table class="reservations">
			<tr>
				<th>Starts</th>
				<th>Ends</th>
				<th>Duration</th>
				<th>Recurs</th>
				<th>&mdash;</th>
			</tr>
			{{#reservations}}
			<tr class="reservation {{class}}">
				<td>{{start_time}}</td>
				<td>{{end_time}}</td>
				<td>{{duration}}</td>
				<td>
					<strong>
					{{#recurring}}Y{{/recurring}}
					{{^recurring}}N{{/recurring}}
					</strong>
				</td>
				<td><a href="{{edit_url}}">edit</a></td>
			</tr>
			{{/reservations}}
		</table>
	</div>
</div>