<div class="center">
	<h4><a href="simulation/display">View Garage Map</a></h4>
	{{#logged_in_admin}}<a href="simulation/cleargarage">Clear out Garage</a>{{/logged_in_admin}}
</div>
<div id="wrap" class="clearfix">
	<div class="module">
		{{>simulation_content}}
	</div>
</div>