<div id="content">
	<form action="" method="post" class="tabular">
		<div class="form-row">
			<em>Are you sure you want to clear out the garage?</em>
		</div>
		<div class="form-row center">
			<input type="submit" name="confirm" value="Clear Garage" />
		</div>
	</form>
</div>
<div id="sidebar">
	<div class="how-to module">
		In some cases, it may be important for the garage owner to clear out the
		garage. Obviously, in a real world situation, it would be handled differently
		than it is during this simulation.
	</div>
</div>