<div id="content">
	<h4>Exit Garage</h4>
	{{#info}}
	<ul>
		{{^exited}}
		<li>Plate Number: {{license_plate}}</li>
		<li>State: {{state}}</li>
		{{/exited}}
		<li>Time of arrival: {{arrival_time}}</li>
		{{#departure_time}}
		<li>Time of departure: {{departure_time}}</li>
		{{/departure_time}}
		<li>Duration: {{duration}}</li>
		{{#cost}}
		<li>Amount Due: ${{cost}}</li>
		{{/cost}}
	</ul>
	{{/info}}
	{{^exited}}
	<form action="" method="post" class="tabular">
		<div class="form-row center">
			<input type="submit" name="confirm" value="Exit" />
		</div>
	</form>
	{{/exited}}
	{{#exited}}
	You're vehicle is no longer in our garage.
	{{/exited}}
</div>
<div id="sidebar">
	<div class="how-to module">
		In an actual garage, at this point, unregistered customers will be charged
		for their time spent parking and would . Registered customers are welcome to leave
		as their time spent parking will be tacked on to their monthly bill.
	</div>
</div>