.calendar .calendar-month{
	background: #2277BB;
	color: #FFFFFF;
	font-weight: bold;
	padding: 3px;
	text-align: center;
}

.calendar a{
	display: block;
}

.calendar a:hover{
	text-decoration: underline;
}

.calendar .event{
	background: #EEEEEE;
}

.calendar .today{
	background: #A2A8A8;
}

.calendar .today a{
	font-weight: bold;
	color: #FFFFFF;
}