<div id="wrap" class="clearfix">
	<div class="module">
		<h4>Garage Administration</h4>
		<ul class="admin-options navbar clearfix">
			<li><a href="admin/garage/usage">View Garage Usage</a></li>
			<li><a href="admin/garage/price">Set Price Plan</a></li>
		</ul>
		{{>admin_content}}
	</div>
</div>